# Extracting and Visualizing Stock Data

In [1]:
import yfinance as yf
import pandas as pd 
import requests 
from bs4 import BeautifulSoup
import plotly.graph_objects as go 
from plotly.subplots import make_subplots
import plotly.io as pio
from io import StringIO

In [2]:
pio.renderers.default = 'iframe' # os gráficos serão renderizados dentro de um iframe HTML

## Define Graphing Function

In [6]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(
        rows=2, cols=1, shared_xaxes=True,
        subplot_titles=("Historical Revenue", "Historical Revenue"),
        vertical_spacing=0.3
    )

    # Convertendo Date para datetime
    stock_data["Date"] = pd.to_datetime(stock_data["Date"])
    revenue_data["Date"] = pd.to_datetime(revenue_data["Date"])

    # Filtrando datas
    stock_data_specific = stock_data[stock_data["Date"] <= "2021-06-14"]
    revenue_data_specific = revenue_data[revenue_data["Date"] <= "2021-04-30"]

    # Plotando os dados de revenue duas vezes, já que Close não existe
    fig.add_trace(
        go.Scatter(
            x=stock_data_specific["Date"],
            y=stock_data_specific["Revenue"].astype("float"),
            name="Revenue"
        ), row=1, col=1
    )

    fig.add_trace(
        go.Scatter(
            x=revenue_data_specific["Date"],
            y=revenue_data_specific["Revenue"].astype("float"),
            name="Revenue"
        ), row=2, col=1
    )

    # Configuração dos eixos
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)

    # Layout final
    fig.update_layout(
        showlegend=False,
        height=900,
        title=stock,
        xaxis_rangeslider_visible=True
    )

    # Exibição
    fig.write_html("grafico_tesla.html")
    import webbrowser
    webbrowser.open("grafico_tesla.html")

In [228]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    
    # Filtrando datas
    stock_data_specific = stock_data[stock_data.Date <= '2021-06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']

    
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date), y=stock_data_specific.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()
    from IPython.display import display, HTML
    fig_html = fig.to_html()
    display(HTML(fig_html))

## Question 1: Use yfinance to Extract Stock Data

Using the Ticker function enter the ticker symbol of the stock we want to extract data on to create a ticker object. The stock is Tesla and its ticker symbol is TSLA.

In [8]:
ticker = yf.Ticker('TSLA')

Using the ticker object and the function history extract stock information and save it in a dataframe named tesla_data. Set the period parameter to "max" so we get information for the maximum amount of time.

In [11]:
tesla_data = ticker.history(period = 'max') # Retorna um DataFrame
type(tesla_data)

pandas.core.frame.DataFrame


Reset the index using the reset_index(inplace=True) function on the tesla_data DataFrame and display the first five rows of the tesla_data dataframe using the head function. Take a screenshot of the results and code from the beginning of Question 1 to the results below.

In [13]:
tesla_data.reset_index(inplace = True)
tesla_data.head(5)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

## Question 2: Use Webscraping to Extract Tesla Revenue Data

In [15]:
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm'
html_data = requests.get(url).text


Parse the html data using beautiful_soup using parser i.e html5lib or html.parser.

In [17]:
soup = BeautifulSoup(html_data, 'html5lib')

Using BeautifulSoup or the read_html function extract the table with Tesla Revenue and store it into a dataframe named tesla_revenue. The dataframe should have columns Date and Revenue.

In [21]:
pd.read_html(str(soup)) # Utilizando read_html a partir do soup

C:\Users\amand\AppData\Local\Temp\ipykernel_17776\618726661.py:1: FutureWarning:

Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.

[    Tesla Annual Revenue (Millions of US $)  \
 0                                      2021
 1                                      2020
 2                                      2019
 3                                      2018
 4                                      2017
 5                                      2016
 6                                      2015
 7                                      2014
 8                                      2013
 9                                      2012
 10                                     2011
 11                                     2010
 12                                     2009

    Tesla Annual Revenue (Millions of US $).1
 0                                    $53,823
 1                                    $31,536
 2                                    $24,578
 3                                    $21,461
 4                                    $11,759
 5                                     $7,000
 6                                     $4,046
 7                                     $3,198
 8                                     $2,013
 9                                       $413
 10                                      $204
 11                                      $117
 12                                      $112  ,
    Tesla Quarterly Revenue (Millions of US $)  \
 0                                  2022-09-30
 1                                  2022-06-30
 2                                  2022-03-31
 3                                  2021-12-31
 4                                  2021-09-30
 5                                  2021-06-30
 6                                  2021-03-31
 7                                  2020-12-31
 8                                  2020-09-30
 9                                  2020-06-30
 10                                 2020-03-31
 11                                 2019-12-31
 12                                 2019-09-30
 13                                 2019-06-30
 14                                 2019-03-31
 15                                 2018-12-31
 16                                 2018-09-30
 17                                 2018-06-30
 18                                 2018-03-31
 19                                 2017-12-31
 20                                 2017-09-30
 21                                 2017-06-30
 22                                 2017-03-31
 23                                 2016-12-31
 24                                 2016-09-30
 25                                 2016-06-30
 26                                 2016-03-31
 27                                 2015-12-31
 28                                 2015-09-30
 29                                 2015-06-30
 30                                 2015-03-31
 31                                 2014-12-31
 32                                 2014-09-30
 33                                 2014-06-30
 34                                 2014-03-31
 35                                 2013-12-31
 36                                 2013-09-30
 37                                 2013-06-30
 38                                 2013-03-31
 39                                 2012-12-31
 40                                 2012-09-30
 41                                 2012-06-30
 42                                 2012-03-31
 43                                 2011-12-31
 44                                 2011-09-30
 45                                 2011-06-30
 46                                 2011-03-31
 47                                 2010-12-31
 48                                 2010-09-30
 49                                 2010-06-30
 50                                 2010-03-31
 51                                 2009-12-31
 52                                 2009-09-30
 53                                 2009-06-30

    Tesla Quarterly Revenue (Millions of US $).1
 0                                       $21,454
 1                                       $16,934
 2                                       $18,756
 3                                       $17,719
 4                                       $13,757
 5                                       $11,958
 6                                       $10,389
 7                                       $10,744
 8                                        $8,771
 9                                        $6,036
 10                                       $5,985
 11                                       $7,384
 12                                       $6,303
 13                                       $6,350
 14                                       $4,541
 15                                       $7,226
 16                                       $6,824
 17                                       $4,002
 18                                       $3,409
 19                                       $3,288
 20                                       $2,985
 21                                       $2,790
 22                                       $2,696
 23                                       $2,285
 24                                       $2,298
 25                                       $1,270
 26                                       $1,147
 27                                       $1,214
 28                                         $937
 29                                         $955
 30                                         $940
 31                                         $957
 32                                         $852
 33                                         $769
 34                                         $621
 35                                         $615
 36                                         $431
 37                                         $405
 38                                         $562
 39                                         $306
 40                                          $50
 41                                          $27
 42                                          $30
 43                                          $39
 44                                          $58
 45                                          $58
 46                                          $49
 47                                          $36
 48                                          $31
 49                                          $28
 50                                          $21
 51                                          NaN
 52                                          $46
 53                                          $27  ,
                                               Sector  \
 0                                  Auto/Tires/Trucks
 1  Tesla is the market leader in battery-powered ...

                                             Industry  \
 0                      Auto Manufacturers - Domestic
 1  Tesla is the market leader in battery-powered ...

                                           Market Cap  \
 0                                          $549.575B
 1  Tesla is the market leader in battery-powered ...

                                              Revenue
 0                                           $53.823B
 1  Tesla is the market leader in battery-powered ...  ,
                 Stock Name        Country Market Cap  PE Ratio
 0      General Motors (GM)  United States   $53.930B      5.56
 1           Ford Motor (F)  United States   $52.668B      8.09
 2    Harley-Davidson (HOG)  United States    $6.762B      9.56
 3            Polaris (PII)  United States    $6.267B     11.86
 4                IAA (IAA)  United States    $5.134B     16.40
 5             Fisker (FSR)  United States    $2.261B      0.00
 6      Lion Electric (LEV)         Canada    $0.551B      0.00
 7             Volta (VLTA)  United States    $0.071B      0.00
 8       Bird Global (BRDS)  United States    $0.054B      0.00
 9  Lightning EMotors (ZEV)  United States    $0.043B      0.00,
                      Link Preview  HTML Code (Click to Copy)
 0  Tesla Revenue 2010-2022 | TSLA                        NaN
 1                     Macrotrends                        NaN
 2                          Source                        NaN,
                      Link Preview  HTML Code (Click to Copy)
 0  Tesla Revenue 2010-2022 | TSLA                        NaN
 1                     Macrotrends                        NaN
 2                          Source                        NaN]

In [22]:
data = pd.read_html(StringIO(html_data)) # Utilizando html_data sem o soup 
type(data)

list

In [23]:
len(data)

6

In [24]:
tesla_revenue = pd.DataFrame(data[1])

In [25]:
tesla_revenue.rename(columns ={'Tesla Quarterly Revenue (Millions of US $)': 'Date', 'Tesla Quarterly Revenue (Millions of US $).1':'Revenue'}, inplace=True)

In [26]:
# Remover virgulas e cifrões da coluna Revenue

tesla_revenue['Revenue'] = tesla_revenue['Revenue'].replace(',|\$', "", regex=True) 
tesla_revenue.head()

         Date Revenue
0  2022-09-30   21454
1  2022-06-30   16934
2  2022-03-31   18756
3  2021-12-31   17719
4  2021-09-30   13757

In [27]:
# Remover valores vazios 

tesla_revenue.dropna(inplace=True) # Remove colunas vazias

tesla_revenue = tesla_revenue[tesla_revenue['Revenue'] != ""]

In [28]:
tesla_revenue.tail()

          Date Revenue
48  2010-09-30      31
49  2010-06-30      28
50  2010-03-31      21
52  2009-09-30      46
53  2009-06-30      27

## Question 3: Use yfinance to Extract Stock Data

In [39]:
ticker = yf.Ticker('GME')
ticker

yfinance.Ticker object <GME>

In [41]:
gme_data = ticker.history(period = 'max')

In [43]:
gme_data.reset_index(inplace=True)
gme_data.head(5)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13 00:00:00-05:00,1.620128,1.693350,1.603296,1.691666,76216000,0.0,0.0
1,2002-02-14 00:00:00-05:00,1.712707,1.716074,1.670626,1.683251,11021600,0.0,0.0
2,2002-02-15 00:00:00-05:00,1.683250,1.687458,1.658001,1.674834,8389600,0.0,0.0
3,2002-02-19 00:00:00-05:00,1.666418,1.666418,1.578047,1.607504,7410400,0.0,0.0
4,2002-02-20 00:00:00-05:00,1.615920,1.662209,1.603296,1.662209,6892800,0.0,0.0

## Question 4: Use Webscraping to Extract GME Revenue Data

In [45]:
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html'

In [46]:
html_data_2 = requests.get(url).text

In [47]:
soup = BeautifulSoup(html_data_2, 'html5lib')

In [48]:
data = pd.read_html(StringIO(html_data_2))

In [52]:
data[1]

,GameStop Quarterly Revenue (Millions of US $),GameStop Quarterly Revenue (Millions of US $).1
0,2020-04-30,"$1,021"
1,2020-01-31,"$2,194"
2,2019-10-31,"$1,439"
3,2019-07-31,"$1,286"
4,2019-04-30,"$1,548"
...,...,...
57,2006-01-31,"$1,667"
58,2005-10-31,$534
59,2005-07-31,$416
60,2005-04-30,$475
61,2005-01-31,$709

In [53]:
gme_revenue = pd.DataFrame(data[1])
gme_revenue.head()

,GameStop Quarterly Revenue (Millions of US $),GameStop Quarterly Revenue (Millions of US $).1
0,2020-04-30,"$1,021"
1,2020-01-31,"$2,194"
2,2019-10-31,"$1,439"
3,2019-07-31,"$1,286"
4,2019-04-30,"$1,548"

In [54]:
gme_revenue = gme_revenue.rename(columns = {'GameStop Quarterly Revenue (Millions of US $)': 'Date', 'GameStop Quarterly Revenue (Millions of US $).1':'Revenue'})

In [55]:
gme_revenue['Revenue'] = gme_revenue['Revenue'].replace(',|\$','', regex=True)

In [56]:
gme_revenue.head()

         Date Revenue
0  2020-04-30    1021
1  2020-01-31    2194
2  2019-10-31    1439
3  2019-07-31    1286
4  2019-04-30    1548

## Question 5: Plot Tesla Stock Graph


Use the make_graph function to graph the Tesla Stock Data, also provide a title for the graph. Note the graph will only show data upto June 2021.

In [67]:
make_graph(tesla_revenue, tesla_revenue, 'Tesla')

## Question 5: Plot Tesla Stock Graph

In [68]:
make_graph(gme_revenue, gme_revenue, 'Game Stop')